* {
    font-family: 'Ubuntu', sans-serif;
    background-color: white;

}

header {
    margin: 10px;
}

span {
    text-align: right;
}

#highscore {
    color: #644ad4;
    display: inline-block;
}

.right {
    float: right;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.text {
    margin-top: 24px;
    margin-bottom: 24px;
    font weight: bold;
    
}

.btn-primary {
    background-color: green;
    border-color: #644ad4;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-primary:hover {
    background-color: green;
    border-color: #4832ad;
}

.v-left {
    display: block;
    font-size: 18px;
    margin: 8px;
}

.left {
    text-align: left;
}

.question {
    margin-bottom: 12px;
}

.list-group-item {
    background-color: #644ad4;
    color: white;
    margin: 6px 0 6px 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #countdown {
    font-size: 30px;
    font-weight: bold;
  }

  .time {
      font-size: larger;
  }
  .right {
      font-size: 50px;
      font-style: italic;
      background-color:red;
      float: center;
      
  }

  }